# REGISTRY_URL must contain the port since the default port 443 and 80 will already be used.
# This isn't the best solution but it works and is efficient 
REGISTRY_URL=registry.mycompany.com:8443

REGISTRY_PASSWORD=registry_password
REGISTRY_USERNAME=registry_username